.TopBar {
    position: relative;
}

.TopBarContainer {
    background-color: var(--top-bar-background-clr);
    padding: 0 1rem;
    display: flex;
    gap: 1rem;
}

#MenuSVG {
    position: relative;
    width: 2.25rem;
}

#MenuSVG:hover {
    cursor: pointer;
}

#MenuSVG rect {
    fill: var(--base-foreground-clr);
    transition: fill 750ms ease;
}

#MenuSVG:hover rect {
    fill: var(--base-hover-clr);
}