.SideBar {
    position: absolute;
    background-color: rgb(48, 48, 48);
    height: calc(100vh - 100%);
    min-width: 20rem;
    width: 30%;
    padding: 0 0.75rem;
    overflow: hidden;
}

/* TODO: Implement Sliding Animation */
.YesHidden {
    animation: SlideTo 500ms linear;
}

.NoHidden {
    animation: SlideBack 500ms linear;
}

@keyframes SlideOut {
    100% {
        transform: translateX(-100vw);
    }
}

@keyframes SlideBack {
    100% {
        transform: translateX(0);
    }
}